$black: rgb(0,0,0);
$blue: rgb(31, 81, 175);
$green: rgb(31, 175, 62);
$red: rgb(175, 31, 55);

.Tabs1 {
  border-bottom: 1px solid rgb(185, 185, 185);
  display: flex;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

  .tab-item {
    padding: 9px 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    cursor: pointer;
  }
  .selected {
    font-weight: bold;
    border-bottom: 6px solid $black;
  }
  .selected-black {
    border-bottom: 6px solid $black;
    color: $black;
  }
  .selected-blue {
    border-bottom: 6px solid $blue;
    color: $blue;
  }
  .selected-green {
    border-bottom: 6px solid $green;
    color: $green;
  }
}